// Define variables for your color scheme
$navy-blue: rgba(3, 4, 94, 1);
$dark-cornflower-blue: rgba(2, 62, 138, 1);
$star-command-blue: rgba(0, 119, 182, 1);
$blue-green: rgba(0, 150, 199, 1);
$cerulean-crayola: rgba(0, 180, 216, 1);
$sky-blue-crayola: rgba(72, 202, 228, 1);
$sky-blue-crayola-2: rgba(144, 224, 239, 1);
$blizzard-blue: rgba(173, 232, 244, 1);
$powder-blue: rgba(202, 240, 248, 1);

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
