// Define variables for your color scheme
$purple-navy: rgba(78, 89, 140, 1);
$white: rgba(255, 255, 255, 1);
$gold-crayola: rgba(249, 199, 132, 1);
$yellow-orange: rgba(252, 175, 88, 1);
$mango-tango: rgba(255, 140, 66, 1);

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;
