// Specific CSS for your home-page
.page-wrapper {
  background-color: white;
}
.container {
  font-family: $body-font;
}
h5 {
  font-size: 20px;
  font-weight: normal;
  font-family: $body-font;
}
h4 {
  font-size: 30px;
  font-weight: bolder;
  font-family: $body-font;
}
h2 {
  font-size: 45px;
  font-weight: bolder;
  font-family: $body-font;
}
.sign-up {
  font-size: 35px;
  color: rgb(121, 120, 120);
  font-weight: lighter;
  font-family: $body-font;
}
.container-title {
  font-size: 35px;
  color: rgb(56, 56, 56);
  font-weight: lighter;
  text-align: center;
}
.container-solutions {
  font-size: 35px;
  color: rgb(56, 56, 56);
  font-weight: lighter;
  text-align: center;
}
.page-footer {
  color: black;
  background: rgb(250, 174, 116);
  list-style: none;
}
i {
  color: black;
}
ul {
  list-style: none;
}
a {
  color: black;
}
#social_icons {
    padding: 0.1em;
    display: inline-block;
}
