<h1 class="title">Your bookings</h1>
<div class="cards">
  <% @bookings.each do |booking| %>

      <div class="service">
        <%# <%= add service image %>
        <div class="service-info">
          <div>
            <p>Service</p>
            <p>Start: <%= booking.start_date %>
            <p>Finish: <%= booking.end_date %>
          </div>
          <%# <h2 class="price">Total price: <%= (booking.end_date - booking.start_date) * booking.service.price %>
        </div>
      </div>
  <% end %>
</div>
