<div class="container">
  <div class="row justify-content-center">
  <div class="col-sm-10">
  <div class="text-center">
  <div class="card-header">
  <br>
  <h1>About Us</h1>
  <br>
  <p>We are the quality work & quick service company.</p>
  <p>Our goal is to democratize the services and transform the lives of millions of people.</p>
  </div>
</div>
