<div class="page-wrap bg-white pt-3 pb-3">
  <div class="banner bg-white">
    <div class="banner-body align-items-center">
      <div class="banner-text mr-1 pl-1 pr-1">
      <h1>About Us</h1>
          <ul>
            <small><p><i class="fas fa-award"></i> We are the quality work & quick service company.</p></small>
            <small><p><i class="fas fa-award"></i> Top rated professionals that you can trust to get the job done.</p></small>
            <small><p><i class="fas fa-award"></i> Our goal is to make essential home services fast and reliable to make the lives of our users easier.</p></small>
            <small><p><i class="fas fa-award"></i> Customer satisfaction is what we strive for.</p></small>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <footer class="page-footer pt-3">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="black-text"><em><b>Useful Links</b></em></h5>
                <ul>
                  <li><a class="black-text text-lighten-3" href="#!">Privacy Policy</a></li>
                  <li><a class="black-text text-lighten-3" href="#!">Our COVID-19 Efforts</a></li>
                  <li><a class="black-text text-lighten-3" href="#!">Legal Notice</a></li>
                  <li><a class="black-text text-lighten-3" href="#!">Cookie Policy</a></li>
                </ul>
              </div>
              <div class="col l4 offset-l2 s12" id="social_icons">
                <h5 class="black-text"><em><b>Questions? Get in touch!</b></em></h5>
                  <a class="black-text text-lighten-3" style="padding-left:18px;" href="#!"><i class="fab fa-whatsapp fa-2x"></i></a>
                  <a class="black-text text-lighten-3" style="padding-left:12px;" href="#!"><i class="fab fa-twitter fa-2x"></i></a>
                  <a class="black-text text-lighten-3" style="padding-left:12px;" href="#!"><i class="fab fa-facebook-f fa-2x"></i></a>
                  <a class="black-text text-lighten-3" style="padding-left:12px;" href="#!"><i class="fab fa-instagram fa-2x"></i></a>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            <b>© 2021 Batch-686. All Rights Reserved.</b>
            <a class="grey-text text-lighten-4 right" href="#!"><b> Terms and Conditions <b><i class="fas fa-star"></i></a>
            </div>
          </div>
        </footer>
