<div class="container">
  <div class="row justify-content-center">
  <div class="col-sm-6">
  <div class= "text-center">
  <div class="card-header">
  <br>
  <h1>Contact Us</h1>
    <div class="row"></div>
  <br>
  <form>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Insert your e-mail">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <br>
  <div class="form-group">
    <label>Describe your issue</label>
     <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Describe your issue"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
  </div>
</div>
