<div class="page-wrapper">
  <div class="container bg-white">
      <h1 class="text-center">Contact Us</h1>
      <form>
        <div class="form-group">
          <label for="exampleInputEmail1">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Insert your e-mail">
          <small id="emailHelp" class="form-text text-muted"><strong><em>We'll never share your email with anyone else.</em></strong></small>
        </div>
        <br>
        <div class="form-group">
          <label>Describe your issue</label>
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" placeholder="We are here to solve all of your problems"></textarea>
        </div>
        <button type="submit" class="btn btn-outline-info btn-lg">Submit
          <%# <%= link_to "Submit", new_service_path, class: "nav-provide-link" %></button>
      </form>
  </div>
</div>
