<div class="page-wrap">
  <div class="banner" style="background-image: url(<%= cl_image_path "airbnb-clone/Home-banner.jpg"%>);">
    <div class="banner-title">
      <h1 class="text-center">Helping Homeowners Solve Issues</h1>
    </div>
  </div>

    <div class="container mt-5">
    <h2 class="text-center">Find a professional in your area! <i class="fas fa-home"></i></h2>

    <div class="row cards mt-5">
        <% @lists.each do |list| %>
              <div class="col-4">
                <div class="card mb-4">
                  <%= cl_image_tag "airbnb-clone/#{list.listing_type}.png", class: "home-images"%>
                  <div class="card-body">
                    <h5 class="card-title text-center"><%= list.listing_type %></h5>
                    <button type="button" class="btn btn-primary">
                      <%= link_to "Learn more", list_path(list) %>
                    </button>
                  </div>
                </div>
              </div>
        <% end %>
    </div>
</div>
