.banner {
  display: flex;
  .banner-body {
    display: flex;
    margin-left: 100px;
    justify-content:space-evenly;
    .banner-text {
      font-size: 45px;
      font-weight: lighter;
      color: black;
      font-family: $body-font;
      .banner-image {
        margin-left: 80px;
      }
    }
  }
}
