.banner {
  display: flex;
  .banner-body {
    display: flex;
    margin-left: 100px;
    justify-content:space-evenly;
    .banner-text {
      font-size: 45px;
      font-weight: bold;
      color: black;
      font-family: 'Bebas Neue';
      .banner-image {
        margin-left: 50px;
      }
    }
  }
}
