.home-images {
  height: 80px;
  width: 120px;
  margin-top: 10px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
.profile-pic-services-display {
  height: 80px;
  width: 120px;
  margin-top: 10px;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}
